body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}
/* Hide the scrollbar but allow scrolling */
html, body {
  /* overflow: hidden; */
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;  /* For Firefox */
}

body {
  overflow: scroll; /* Allow scrolling */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
